{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">NFL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home:inicio' %}">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:list_city' %}">Citys</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:list_player' %}">Players</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:list_stadium'%}">Stadiums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:list_team' %}">Teams</a>
          </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="dropdown">
          <button class="btn" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 10px; background-color: transparent; margin-left: 15px;">
            <img src="/static/imagen/usuario.png" alt="lupa" width="40px">
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end text-center" style="background-color: white;">
            <p style="color: black; font-size: 30px;"> {{ user }} </p>
            <a href="{% url 'home:logout' %}" class="btn btn-outline-danger" style="border-radius: 10px;">LogOut</a>
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </nav>
  {% block content %} {% endblock content %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>