{% extends 'base/base.html' %}

{% block title %} SIGNUP VIEW {% endblock title %}

{% block content %}
<div class="card container text-center">
    <div class="card-body">
        <form action="" method="post" class="form">
            {% csrf_token %}
            {{ form }}
                <br>
            <button type="btn" class="btn btn-outline-success" style="border-radius: 10px; margin-right: 40px;">Create Profile</button>
            <a href="{% url 'home:inicio' %}" class="btn btn-outline-warning" style="border-radius: 10px;">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}